<body>
  <h1>Greetings from FLUFFY OCTO SYSTEM</h1>
  <h4>Visit our website for latest covid-19 data</h4>
  <h4>If you sign up, you can use our service to get diagnosis for any symptoms you are experiencing.</h4>
  <h1>LIST OF FEATURES</h1>
  <ul>
    <li>Latest COVID-19 cases information</li>
    <li>Latest world vaccine information</li>
    <li>Latest report from the beinning of pandemic</li>
    <li>Latest map data showing active cases and deaths</li>
    <li>Service to get diagnosis report for symptoms (Sign up required)</li>
  </ul>
</body>