  <div class="container col-md-2">
        <ul>
            <li><%= link_to "World Data", world_data_dashboards_path %></li>
            <li><%= link_to "Vaccination Data", vaccination_dashboards_path %></li>
            <li><%= link_to "World Map", world_map_dashboards_path %></li>
            <li><%= link_to "Reports", covid_chart_dashboards_path %></li>
        </ul>
    </div>