// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-case {
    color: orange;
}

.critical {
    color: red;
}

.favorable {
    color: green;
}

.positive {
    color: blue;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

h6 {
    padding-left: 10px;
}

.sidebar {
    margin-left: 5px;
    background: lightgray;
    padding-left: 2pc;
}

li {
    font-size: 15px;
    a {
        color: darkslategrey
    }
}

.not-available {
    color: black !important
}

.loading {
    margin-top: 10em;
    text-align: center;
    color: gray;
}

//High chart 
.highcharts-figure,
.highcharts-data-table table {
    min-width: 320px;
    max-width: 660px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #EBEBEB;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}