// Place all the styles related to the Symptoms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.custom-form {
  font-family: Consolas, monaco, monospace;
  font-size: 15px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
